.icon-add{
    font-size: 25px;
}
.icon-delete{
    font-size: 20px;
}
.button-icon-delete{
    border: none;
    border-radius: none;
    background-color: white;
    color: red;
}
.search label button{
    border: none;
    border-radius: none;
    background-color: white;
}
.button-icon-update{
    color: green;
}

.bin-outline{
    font-size: 20px;
    color: red;
}
.form-group label{
    padding-top: 15px;
}
.summary:focus {
    background-color: #f4f4f4;
    color: #333;
    outline: none;
}

